<section class="bg-gray-800 py-12 md:py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row items-center gap-8 gap-y-7 px-5 xl:px-0">
  
      <!-- Frase izquierda -->
      <p class="text-xl md:text-2xl mb-4 md:mb-0 font-semibold text-gray-300 text-center md:text-left flex-1">
        Donde los sueños encuentran su terreno ideal
      </p>
  
      <!-- Línea divisoria -->
      <div class="hidden md:block border-l border-gray-600 h-16"></div>
  
      <!-- Logo central -->
      <img 
        src="/assets/img/logo3d.png" 
        alt="Logo de B&Y Terrenos y Proyectos" 
        class="scale-200 md:scale-100 h-24 md:h-32 w-auto hover:scale-105 transition duration-300"
      />
  
      <!-- Línea divisoria -->
      <div class="hidden md:block border-l border-gray-600 h-16"></div>
  
      <!-- Frase derecha -->
      <p class="text-xl md:text-2xl font-semibold text-gray-300 text-center mt-4 md:mt-0 md:text-right flex-1">
        Confianza y seguridad en cada paso
      </p>
    </div>
  </section>
  